.graph {
    
    &__day {
        margin-left: 15px;
        font-weight: 700;
    }

    &__image {
       
        img {
        width: 100%;
                }
    }



    &__time {
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-bottom: 10px;
        margin-left:10px;
        margin-right: 10px;
        font-size: small;
        }
    }
}