.weatherIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  top: 50px;
  overflow: visible;
  z-index: 10;
  img {
    height: 100px;
    width: 100px;
  }
}
