.overview {
  height: 100vh;
  background-image: linear-gradient(#e75481, #929cde);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  .Swiper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
