.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	height: 65px;
	background-color: #fff;
	border-radius: 20px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	right: 20px;

	&__item {
		display: flex;
		flex-direction: column-reverse;
		font-size: 12px;
		align-items: center;
		text-decoration: none;
		background: transparent;

		span {
			display: none;
		}

		&--active {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			color: #d86191;
			text-decoration: none;
			font-size: 12px;

			* {
				fill: #d86191;
			}

			span {
				display: block;
			}
		}
	}
	svg {
		height: 20px;
		width: 20px;
	}
}
