.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 10%;
  background-color: #fff;
  border-radius: 20px;
  position: fixed;
  bottom: 5%;
  left: 10%;

  &__item {
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
    align-items: center;

    &--active {
      color: #d86191;

      * {
        fill: #d86191;
      }
    }
  }
  &__icon {
    height: 20px;
    width: 20px;
  }
}
