@import "./overwrites";
@import url("https://fonts.google.com/specimen/Alegreya+Sans");

* {
	padding: 0;
	border: 0;
	box-sizing: border-box;
	margin: 0;
}

.App {
	font-family: "Alegreya Sans", sans-serif;
}

.button {
	background-color: #5e4fc1;
	color: white;
	text-decoration: none;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px 48px;
	text-transform: uppercase;
	font-size: 12px;
}
