@import "./overwrites";
@import url("https://fonts.google.com/specimen/Alegreya+Sans");

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

.App {
  font-family: "Alegreya Sans", sans-serif;
  height: 100vh;
  background-image: linear-gradient(#e75481, #929cde);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
